@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  font-family: 'Vollkorn', serif;
}

.navbar {
  border-radius: 0;
}

.main-container {
  margin-top: 20px;
}

.loading-text {
  position: relative;
  left: 2%;
  padding-top: 60px;
}

.inline-block {
  display: inline-block;
}

.centered {
  position: fixed; /* or absolute */
  top: 51%;
  left: 43%;
}

.navbar {
  margin-bottom: 0;
}

/*.navbar-brand {
  padding: 0 15px;
}*/

.overlay-loading {
  position: absolute;
  top: 50%;
  left: 42%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay-title {
  padding: 10px;
  background-color: rgba(150, 150, 150, 1);
}

.overlay-book {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.image-overlay {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.bg-image {
  background: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  padding-top: 0;
}

.book-text {
  /*padding: 15% 0 0 0;*/
  font-size: 1.4em;
}

.image-link {
  opacity: 1;
}

.image-link:hover {
  opacity: 0.4;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .overlay-title h2 {
    font-size: 20px
  }

  .overlay-loading {
    position: absolute;
    top: 50%;
    left: 15%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .overlay-title h2 {
    font-size: 20px
  }

  .overlay-loading {
    position: absolute;
    top: 50%;
    left: 15%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar {
    border-radius: 0;
  }
  .overlay-title h2 {
    font-size: 30px
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .overlay-title h2 {
    font-size: 30px
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .overlay-title h2 {
    font-size: 30px
  }
}