<template name="currentBook">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
      {{#if monthlyBook}}
        <div class="row overlay-title">
          <h2 class="pull-left" style="margin-right: 20px">Currently Reading:</h2>
          <h2 class="pull-left">{{monthlyBook.title}} <small style="color: #fff">by {{monthlyBook.author}}</small></h2>
        </div>
        <div class="row overlay-book">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="image-overlay"><a href="{{monthlyBook.goodreadsLink}}"><img src="{{monthlyBook.image_url}}" class="img-responsive center-block image-link"></a></div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <p class="book-text">{{{monthlyBook.description}}}</p>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>